body {
    margin-top: 70px;
}

.navbar-header {
    margin-left: 10px;
}

.navbar-collapse {
    margin-right: 10px;
}

@media (min-width: 768px) {
    .navbar-nav > li > a {
        padding-top: 32px;
        padding-bottom: 32px;
    }
}

.jumbotron.full {
    padding: 0;
}

.push-down {
    margin-top: 25px;
}